/* 
color:rgb(81,11,162);
background: #e6eaed;
background: rgb(81,11,162);
background: linear-gradient(298deg, rgba(81,11,162,1) 0%, rgba(182,36,204,1) 34%, rgba(156,44,215,1) 74%, rgba(85,1,175,1) 100%);
rgb(114, 114, 114)
#390870
background-color: rgb(46, 46, 46);
*/


* {
  scroll-behavior: smooth;
}
*::selection {
  background: #5e5e5e;
  color: white;
}
body,html {
  background-color:#eeede3;
  overflow-x:hidden;
}

 

header {
  position:relative;
  background: rgb(39,70,36);
  background: linear-gradient(298deg, #8ba157 0%, #c1dc83 25%, #c1dc83 80%, #8ba157 100%);
  height:90vh;
}

.header-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cursor{
  display: inline-block;
  width:3px !important;
  background-color:#fff;
  animation: blink 1s infinite;
}
.text-animation {
  width:45vw;
  overflow-wrap: break-word;
  word-wrap: break-word;
  position:absolute;
  left: 100px;
  top:200px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;

}
h1{
  font-size: 26pt;
  font-weight: 600;
}
.written-text{
  font-size: 25pt;
  font-weight: 400;
}
.cursor.typing{
  animation:none;
}

.btn button{
  border-radius: 40px;
  background-color: transparent;
  border: solid 3px #fff;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 20pt;
  transition: 0.6s;
  cursor: pointer;
  position: absolute;
  top:335px;
  left: 90px;
  padding:20px;
  box-shadow: 28px 28px 41px -13px rgba(0,0,0,0.48);
}
.btn button:hover{
  background-color: #fff;
  color: #000;
}


.coding-img{
  width:600px;
  margin-top:20px;
  float:right;
}


.divider { 
  position:absolute;
  bottom:-2px;
}



#servicos{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
}
#servicos hr {
  background-color:#b89a61;
  height: 2px;
}
#servicos .my-container {
  width:85vw;
  font-size:18pt;
  display: flex;
  justify-content: space-around;
}
#servicos h2 {
  text-align:center;
  margin-bottom: 40px;
}
#servicos .card {
  width:30%;
  border:  3px solid #c1dc83;
  border-radius: 16px;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  box-shadow: 28px 28px 41px -13px rgba(0,0,0,0.3);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  transition: transform 0.5s;
  cursor: pointer;
}
#servicos .card:hover {
  transform: translateY(-20px);
}
.fa-laptop-code{
  color: #3bf789;
  font-size:40pt;
  margin-bottom: 8px;
}
.fa-check {
  color:#3bf789;
}
.fa-times {
  color:#ff0000
}

.modal-body{
  font-size:18pt;
}
.modal-body a{
  text-decoration: none;
  color:#000;
}
.modal-body a:hover{
  color:rgb(81,11,162);
}
.social{
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #000;
  font-weight: 700;
  margin: 50px 0 0 0;
  padding: 15px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}
footer p {
  margin: 0;
  padding: 5px;
}



@media (max-width: 1400px) {
  #servicos .my-container {
    width:90vw;
  }
}
@media (max-width: 1300px) {
  .coding-img{
    width:500px;
    margin-left: -50px;
  }
  #servicos .my-container {
    width:100vw;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 1100px) {
  #servicos .my-container {
    flex-direction: column;
    align-items: center;
  }
  
  #servicos .card {
    width: 60vw;
    margin-bottom: 30px;
  }
}
@media (max-width: 990px) {
  .header-container div{
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .header-container button{
    left: 0;
    right: 0;
    margin: auto
  }
  .text-animation {
    width:70vw;
  }
  .coding-img {
    display: none;
  }
  .btn button{
    top:380px;
    font-size: 15pt;
  }
  h1{
    font-size: 20pt;
    font-weight: 600;
  }
  .written-text{
    font-size: 19pt;
    font-weight: 400;
  }
}
@media (max-width: 670px) {
  .text-animation {
    width:80vw;
  }
  #servicos .my-container {
    flex-direction: column;
    align-items: center;
  }
  
  #servicos .card {
    width: 80vw;
    margin-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .text-animation {
    width:90vw;
  }
  #servicos .my-container {
    flex-direction: column;
    align-items: center;
  }
  
  #servicos .card {
    width: 90vw;
    margin-bottom: 30px;
  }
}
@media (max-width: 380px) {
  #servicos .my-container {
    flex-direction: column;
    align-items: center;
  }
  
  #servicos .card {
    width: 96vw;
    margin-bottom: 30px;
  }
}
@keyframes blink {
  49%{
    background-color:#fff;
  }
  50%{
    background-color:transparent;
  }
  99%{
    background-color:transparent;
  }
}