/* 
color:rgb(81,11,162);
background: #e6eaed;
background: rgb(81,11,162);
background: linear-gradient(298deg, rgba(81,11,162,1) 0%, rgba(182,36,204,1) 34%, rgba(156,44,215,1) 74%, rgba(85,1,175,1) 100%);
rgb(114, 114, 114)
#390870
background-color: rgb(46, 46, 46);
*/


* {
  scroll-behavior: smooth;
}
body,html {
  background-color:#eeede3;
}

/* Navbar Bootstrap */
.nav-color {
  background: rgba(0, 0, 0, 0.1) !important;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14pt;
  letter-spacing: 2px;
}
.center-navbar {
  width: 60%;
}




header {
  position:relative;
  background: rgb(39,70,36);
  background: linear-gradient(298deg, rgb(108, 190, 100) 0%, rgb(120, 231, 110) 25%, rgb(120, 231, 110) 80%, rgb(106, 194, 96) 100%);
  height:90vh;
}


.cursor{
  display: inline-block;
  width:3px !important;
  background-color:#fff;
  animation: blink 1s infinite;
}
.text-animation {
  width:45vw;
  overflow-wrap: break-word;
  word-wrap: break-word;
  position:absolute;
  left: 100px;
  top:200px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;

}
h1{
  font-size: 26pt;
  font-weight: 600;
}
.written-text{
  font-size: 25pt;
  font-weight: 400;
}
.cursor.typing{
  animation:none;
}
@keyframes blink {
  49%{
    background-color:#fff;
  }
  50%{
    background-color:transparent;
  }
  99%{
    background-color:transparent;
  }
}



.divider { 
  position:absolute;
  bottom:0;
}





#servicos hr {
  background-color:#b89a61;
  height: 2px;
}
#servicos .container {
  font-size:18pt;
  display: flex;
  justify-content: space-around;
}
#servicos h2 {
  text-align:center;
  margin-bottom: 40px;
}
#servicos .card {
  border:  3px solid #61ab5a;
  border-radius: 16px;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  box-shadow: 28px 28px 41px -13px rgba(0,0,0,0.3);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  transition: transform 0.5s;
  cursor: pointer;
}
#servicos .card:hover {
  transform: translateY(-20px);
}
.fa-laptop-code{
  color: #00f767;
  font-size:40pt;
  margin-bottom: 8px;
}
.fa-check {
  color:#61ab5a
}
.fa-times {
  color:#ff0000
}





footer {
  text-align: center;
  background-color: #000;
  font-weight: 700;
  margin: 50px 0 0 0;
  padding: 15px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}
footer p {
  margin: 0;
  padding: 5px;
}